<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FFXIV_GameSense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FFXIV_GameSense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.21.1.0" newVersion="0.21.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<FFXIV_GameSense.Properties.Settings>
   <setting name="SBell" serializeAs="String">
    <value>No sound alert</value>
   </setting>
   <setting name="ABell" serializeAs="String">
    <value>No sound alert</value>
   </setting>
   <setting name="FATEBell" serializeAs="String">
    <value>No sound alert</value>
   </setting>
   <setting name="BBell" serializeAs="String">
    <value>No sound alert</value>
   </setting>
   <setting name="notifyS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="notifyA" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="notifyB" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SPlaySound" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="APlaySound" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BPlaySound" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FATEPlaySound" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MinimizeToTray" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SSB" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SHW" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SARR" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ASB" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AHW" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AARR" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BSB" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BHW" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="BARR" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FATEs" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="LanguageCI" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="CallUpgrade" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HuntInterval" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="FATEInterval" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="StartMinimized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastEmail" serializeAs="String">
    <value />
   </setting>
   <setting name="Cookies" serializeAs="String">
    <value />
   </setting>
   <setting name="TrackFATEAfterQuery" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="notifyDutyRoulette" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OncePerHunt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ForgetOnZoneChange" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NoAnnouncementsInContent" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FATEMinimumMinutesRemaining" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FATEMinimumPercentInterval" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FlashTaskbarIconOnDFPop" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FlashTaskbarIconOnHuntAndFATEs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerformDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="LogLevel" serializeAs="String">
    <value>1</value>
   </setting>
  </FFXIV_GameSense.Properties.Settings>
	</userSettings>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
	</connectionStrings>
 <applicationSettings>
  <FFXIV_GameSense.Properties.Settings>
   <setting name="UpdateLocation" serializeAs="String">
    <value>https://xivhunt.net/Releases</value>
   </setting>
   <setting name="MMLMaxSizeBytes" serializeAs="String">
    <value>16384</value>
   </setting>
   <setting name="MMLMaxDuration" serializeAs="String">
    <value>00:15:00</value>
   </setting>
  </FFXIV_GameSense.Properties.Settings>
 </applicationSettings>
</configuration>
